@model InternalPortal.ViewModels.Organisations

<h2 class="govuk-heading-m">
    Unverified organisations
</h2>
<table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="descending">Organisation</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
    </tr>
    </thead>
    @{
        await Html.RenderPartialAsync("_Organisation", Model.Unverified);
    }
</table>

<h2 class="govuk-heading-m">
    Verified organisations
</h2>
<table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="descending">Organisation</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
    </tr>
    </thead>
    @{
        await Html.RenderPartialAsync("_Organisation", Model.Verified);
    }
</table>