$ofgem-light-green: #008554;
$ofgem-white: #fff;
$ofgem-black: #0b0c0c;

$govuk-header-border-color: $govuk-brand-colour;
$govuk-header-border-width: govuk-spacing(2);

.govuk-header__container--full-width {
  padding: 0 govuk-spacing(3);
  border-color: $govuk-header-border-color;

  .govuk-header__menu-button {
    right: govuk-spacing(3);
  }
}

.govuk-header__container {
  border-bottom: $govuk-header-border-width solid $govuk-header-border-color;
}

.govuk-header {
  height: 94px;
  background: $ofgem-white;
  border-bottom: 5px solid $ofgem-light-green;

  &__container {
    border-bottom: none;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &__logo-image {
    width: 278px;
    height: 44px;
    margin-top: 15px;
  }

  &__navigation {
    text-align: right;
  }

  &__navigation-item {
    border-bottom: none;
  }

  &__link {
    @extend .govuk-header__link;
    color: $ofgem-black;

    &:link,
    &:visited {
      color: $ofgem-black;
    }

    &:focus {
      background-color: $ofgem-white;
      border-bottom-color: $ofgem-white;
      box-shadow: 0 -2px $ofgem-white, 0 4px $ofgem-white;
    }
  }

  &__link--service-name {
    @extend .govuk-header__link--service-name;
    font-size: 24px;
  }
}
