<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] – Green Gas Support Scheme</title>
    <link rel="stylesheet" href="~/css/step-by-step-nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />
</head>
<body class="govuk-template__body">

    <header class="govuk-header" role="heading">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link">
                    <img src="~/images/logo.png" class="govuk-header__logo-image" alt="Ofgem logo" />
                </a>
            </div>
            <div class="govuk-header__content govuk-header__navigation">
                <nav>
                    <a href="/" class="govuk-header__link govuk-header__link--service-name">
                        Green Gas Support Scheme
                    </a>
                    <partial name="_LoginPartial" />
                </nav>
            </div>
        </div>
    </header>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="govuk-footer">
        <div class="govuk-width-container">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-visually-hidden">Ofgem links</h2>
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="https://www.ogfem.gov.uk">
                                Main Ofgem Website
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <!-- TODO-2753 work out proper privacy policy link -->
                            <a class="govuk-footer__link" href="/">
                                Privacy policy
                            </a>
                        </li>
                    </ul>
                    <div>&copy; Ofgem 2021</div>
                </div>
            </div>
        </div>
    </footer>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/govuk-frontend/js/govuk-frontend-3.14.0.min.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/tabs.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
